# ignore local environment setting
env_path


# ignore data files
**/*.h5
**/*.tif
**/*.png

# ignore zip files
*.zip

# ignore python compile
*.pyc
*__pycache__
*.py.swp


# ignore backups
backups



